click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.9
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
requests>=2.27,<3
Werkzeug==1.0.1
Flask-Caching==1.10.1
psycopg2-binary==2.9.3
SQLAlchemy==1.4.29
Flask-SQLAlchemy==2.5.1
ijson
kafka-python
gunicorn
gevent
gevent-websocket  # Ajout de gevent-websocket
eventlet
redis
flask-redis
flask-socketio
